# ======================
# Entornos virtuales
# ======================
venv/
.env/

# ======================
# Variables de entorno
# ======================
.env
.env.*

# ======================
# Bases de datos
# ======================
*.db
*.sqlite
*.sqlite3

# ======================
# Cache de Python
# ======================
__pycache__/
**/__pycache__/

# ======================
# Archivos compilados
# ======================
*.pyc
*.pyo
*.pyd

# ======================
# Logs
# ======================
*.log

# ======================
# IDEs / Editores
# ======================
.vscode/
.idea/

# ======================
# Sistema Operativo
# ======================
.DS_Store
Thumbs.db


run.txt